.vertical-divider {
  margin: 16px;
  width: 2px;
  height: 32px;
  background-color: #a7a8ab;
}

.menu::after {
  opacity: 1;
  transform: scale(1, 1);
  background-color: #9ac5f4;
  transition: all 0.2s ease-out;
  position: absolute;
  left: 16;
  width: calc(100%-32px);
  bottom: 0px;
  height: 3px;
  content: "";
  display: block;
}
