.vertical-divider {
  margin: 16px;
  width: 2px;
  height: 32px;
  background-color: #a7a8ab;
}

.underline {
  display: block;
  width: calc(100% - 32px);
  height: 3px;
  background-color: #9ac5f4;
  margin-left: 16px;
  margin-right: 16px;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #9ac5f4;
  margin-left: auto;
  margin-right: auto;
  transition: all ease-out 0.2s;
}

a:hover::after {
  width: calc(100% - 32px);
}
